@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-100: #ADC837;
  --green-120: #C6DC65;
  --teal-100:  #02475A;
  --cyan-100:  #029FB5;
  --purple-100: #522E76;
  --dgrey-100: #404041;
  --dgrey-120: #303030;
  --lgrey-100: #F4F4F4;
  --neutral-300: #E1E6EF;
  --error:   #F44336;
  --success: #4CAF50;
  --warning: #BF6A02;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background: var(--lgrey-100);
  color: var(--dgrey-100);
}
